* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}


/* CLASI UTILITY MAIN */

main { 
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.riga {
    display: flex;
    flex-wrap: wrap;
}


.col-7 {
    width: calc(100% / 7);
}

.contenuto {
    padding: 0 5px 10px 0;
    position: relative;
}

.foto-zoom {
    max-width: 100%;
}

.user {
    position: absolute;
    bottom: 20px;
    color: white;
}


/* FINE CLASI UTILITY MAIN */

